<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">COMP229SEC3, Assignment1, Name: Panth Patel, 301197341, October 6, 2022</a>
      </div>
      <h6 class="display-6"&copy;2022 All rights reserved.></h6>
    </nav>
    </footer>